In [3]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in c:\users\ayushi\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ayushi\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayushi\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\ayushi\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ayushi\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: bs4 in c:\users\ayushi\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ayushi\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\ayushi\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

In [4]:
from bs4 import BeautifulSoup
import requests

In [5]:
page=requests.get('https://m.imdb.com/list/ls063915608/')

In [6]:
page

In [7]:
A=BeautifulSoup(page.content)

In [29]:
titles=[]
cnt=0
for i in A.find_all('span',class_="h4"):
    if cnt%2!=0:
        titles.append(i.text)
    cnt+=1
titles

['Rang De Basanti',
 'Lagaan: Once Upon a Time in India',
 'Dil Chahta Hai',
 'Gangs of Wasseypur',
 'Zindagi Na Milegi Dobara',
 '3 Idiots',
 'Swades',
 'Paan Singh Tomar',
 'Salaam Bombay!',
 'Bhaag Milkha Bhaag',
 'A Wednesday',
 'Barfi!',
 'Dev.D',
 'Gangs of Wasseypur',
 'Piku',
 'Like Stars on Earth',
 'Munna Bhai M.B.B.S.',
 'Vicky Donor',
 'Drishyam',
 'Hera Pheri',
 'Andaz Apna Apna',
 'Gangaajal',
 'Once Upon a Time in Mumbaai',
 'Rajneeti',
 'Special 26',
 'Masaan',
 'Ankhon Dekhi',
 'Parched',
 'Udaan',
 'PK',
 'Oye Lucky! Lucky Oye!',
 'Ship of Theseus',
 'Kahaani',
 'Maqbool',
 'Bandit Queen',
 'Black Friday',
 'Omkara',
 'Queen',
 'Shahid',
 'The Lunchbox',
 'Dangal',
 'Chak De! India',
 'Black',
 'Guru',
 'My Name Is Khan',
 'Manjhi: The Mountain Man',
 'Satya',
 'Paa',
 'Raincoat',
 'The Legend of Bhagat Singh',
 'Apaharan',
 'OMG: Oh My God!',
 'Shool',
 'Talvar',
 'Wake Up Sid',
 'Sholay',
 'Haider',
 'Mumbai Meri Jaan',
 'Jo Jeeta Wohi Sikandar',
 'Carry On, Munna Bhai',
 'Dum Laga Ke Haisha',
 'Rockstar',
 'Dilwale Dulhania Le Jayenge',
 'English Vinglish',
 'Ghajini',
 'Devdas',
 'Jab We Met',
 'Pink',
 'Ugly',
 'Rock On!!',
 'Jodhaa Akbar',
 'Peepli Live',
 'Company',
 'Damini',
 'Gulaal',
 'Udta Punjab',
 'Madras Cafe',
 'Lootera',
 'Baahubali: The Beginning',
 'Fashion',
 'Sarfarosh',
 'Kai Po Che',
 'Raanjhanaa',
 'Bajirao Mastani',
 'Zakhm',
 'Virasat',
 'Stanley Ka Dabba',
 'Darr',
 'Guzaarish',
 'Namastey London',
 'Nayak: The Real Hero',
 'Khakee',
 'Delhi Belly',
 'Gadar: Ek Prem Katha',
 'Veer Zaara',
 'Kuch Kuch Hota Hai',
 'Dhamaal',
 'Golmaal Fun Unlimited',
 'Aligarh',
 'Earth']

In [40]:
ratings=[]
for j in A.find_all('span',class_="imdb-rating"):
    ratings.append(j.text.replace("[]" , " "))
ratings

['8.1',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.4',
 '8.2',
 '8.2',
 '8',
 '8.2',
 '8.1',
 '8.1',
 '8',
 '8.2',
 '7.6',
 '8.4',
 '8.1',
 '7.8',
 '8.2',
 '8.2',
 '8.1',
 '7.8',
 '7.4',
 '7.1',
 '8',
 '8.2',
 '8',
 '7.6',
 '8.2',
 '8.1',
 '7.7',
 '8.1',
 '8.1',
 '8.1',
 '7.6',
 '8.5',
 '8.1',
 '8.2',
 '8.2',
 '7.8',
 '8.4',
 '8.2',
 '8.2',
 '7.7',
 '8',
 '8',
 '8.3',
 '7.2',
 '7.7',
 '8.1',
 '7.4',
 '8.1',
 '7.7',
 '8.2',
 '7.6',
 '8.2',
 '8.1',
 '7.7',
 '8.2',
 '8.1',
 '7.5',
 '7.7',
 '8.1',
 '7.8',
 '7.3',
 '7.6',
 '7.9',
 '8.1',
 '8',
 '7.7',
 '7.6',
 '7.4',
 '8',
 '7.8',
 '8.1',
 '7.8',
 '7.7',
 '7.3',
 '8',
 '6.9',
 '8.1',
 '7.8',
 '7.6',
 '7.3',
 '7.9',
 '7.5',
 '7.8',
 '7.8',
 '7.5',
 '7.1',
 '7.8',
 '7.4',
 '7.6',
 '7.3',
 '7.8',
 '7.6',
 '7.4',
 '7.5',
 '7.8',
 '7.7']

In [49]:
years=[]
cnt=0
for k in A.find_all('span',class_="nowrap"):
    if cnt%2==0:
        years.append(k.text)
    cnt+=1    
years

['(2006)',
 '(2001)',
 '(2001)',
 '(2012)',
 '(2011)',
 '(2009)',
 '(2004)',
 '(2012)',
 '(1988)',
 '(2013)',
 '(2008)',
 '(2012)',
 '(2009)',
 '(2012)',
 '(2015)',
 '(2007)',
 '(2003)',
 '(2012)',
 '(2015)',
 '(2000)',
 '(1994)',
 '(2003)',
 '(2010)',
 '(2010)',
 '(2013)',
 '(2015)',
 '(2013)',
 '(2015)',
 '(2010)',
 '(2014)',
 '(2008)',
 '(2012)',
 '(2012)',
 '(2003)',
 '(1994)',
 '(2004)',
 '(2006)',
 '(2013)',
 '(2012)',
 '(2013)',
 '(2016)',
 '(2007)',
 '(2005)',
 '(2007)',
 '(2010)',
 '(2015)',
 '(1998)',
 '(2009)',
 '(2004)',
 '(2002)',
 '(2005)',
 '(2012)',
 '(1999)',
 '(2015)',
 '(2009)',
 '(1975)',
 '(2014)',
 '(2008)',
 '(1992)',
 '(2006)',
 '(2015)',
 '(2011)',
 '(1995)',
 '(2012)',
 '(2008)',
 '(I) (2002)',
 '(2007)',
 '(III) (2016)',
 '(2013)',
 '(2008)',
 '(2008)',
 '(2010)',
 '(2002)',
 '(1993)',
 '(2009)',
 '(2016)',
 '(2013)',
 '(I) (2013)',
 '(2015)',
 '(2008)',
 '(1999)',
 '(2013)',
 '(2013)',
 '(2015)',
 '(1998)',
 '(1997)',
 '(2011)',
 '(1993)',
 '(2010)',
 '(2007)',
 '(2001)',
 '(2004)',
 '(2011)',
 '(2001)',
 '(2004)',
 '(1998)',
 '(2007)',
 '(2006)',
 '(2015)',
 '(1998)']

In [41]:
import pandas as pd
df= pd.DataFrame({'Name of movie':titles,'Rating':ratings,'Year of release':years})
df

                        Name of movie Rating Year of release
0                     Rang De Basanti    8.1          (2006)
1   Lagaan: Once Upon a Time in India    8.1          (2001)
2                      Dil Chahta Hai    8.1          (2001)
3                  Gangs of Wasseypur    8.2          (2012)
4            Zindagi Na Milegi Dobara    8.2          (2011)
..                                ...    ...             ...
95                 Kuch Kuch Hota Hai    7.6          (1998)
96                            Dhamaal    7.4          (2007)
97              Golmaal Fun Unlimited    7.5          (2006)
98                            Aligarh    7.8          (2015)
99                              Earth    7.7          (1998)

[100 rows x 3 columns]

In [34]:
print(len(titles),len(ratings),len(years))

100 100 100